.test_block{
    display: flex;
    justify-content: space-between; 
color: var(--black);
     background-color: #ffffff;
     backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1px 20px;
    height: 50px;
    margin-bottom: 10px;
    transition: .2s linear;
    position: relative;

}
.test_block.done{
    background-color: rgb(255, 176, 96);
}
.test_block_icons_done{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(9, 210, 9);
    font-size: 30px;
}
.test_block div{
    padding: 10px 5px;
    display: flex;
    align-items: center;
}
.test_block div p:nth-child(1) {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    width: 30px;
}

.test_block div:nth-child(2) p {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
}


@media (max-width: 550px) {
    .test_block div p:nth-child(1) {
        width: 0px;
    }
    .test_block_icons_done{
        position: absolute;
        left: calc(100% - 40px);
        top: 50%;
        transform: translateY(-50%);
        color:rgb(0, 187, 0);
        font-size: 30px;
    }
}