
.opencourse_title{
    position: relative;
    border-radius: 10px;
    z-index: 1;
    padding: 20px 0 20px 0;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1px;
    overflow: hidden;
}
.sertificate_btn{

    border: none;
    outline: none;
    background: none;
    border: 1px solid var(--orange);
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 2px;
    color: var(--orange);
    margin-top: 5px;
    padding: 2px 7px;
    border-radius: 5px;
    transition:  .156s linear;

    &:hover {
        color: #000000;
        background-color: var(--orange);
    
    }
    &:active{
        transform: scale(.97);
    }

    & > svg {
        font-size: 30px;   
        margin-right: 5px;
    }
}




.opencourse_header a {
    text-decoration:none;
    color: var(--orange);
    font-size: 30px;
}
.opencourse_header a svg:hover{

    animation-name: slide_arrow_left;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.opencourse_description{
    z-index: 2;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.opencourse_description p:nth-child(1) {
    font-weight: 500;

    color: var(--orange);
}
.opencourse_description p:nth-child(2) {
    color: #000000;
    line-height: 150%;
    text-align: justify;
}
.opencourse > p {
    color: var(--orange);
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
}
@media (max-width: 550px) {

}