.theme_block{
    position: relative;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid var(--blue);*/
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: 0 0 1px #bfbfbf;
    padding-right: 30px;
}
.theme_block_icons{
    color: white;
}
.theme_block_icons.done{
color: var(--orange);
}
.theme_block div{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    display: flex;
    font-weight: 500;
}
.theme_block:hover{
    transition: .350s ease-in-out;
    transform: scale(1.01) translateY(-2px);
    /*background-color: var(--blue);*/
    box-shadow: 1px 1px 1px #bfbfbf;

}
.theme_block div p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    width: 25px;
}
.theme_block div p:nth-child(2) {
    font-size: 20px;
}


.theme_block button{
    position: absolute;
    right: 0;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #ffffff;
    color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .15s linear;
}
.theme_block button:hover{
    background-color:  #facf3e;
    color: #ea5333;
}
.theme_block button:active{
    font-size: 20px;
}