

.lesson_header a {
    text-decoration:none;
    color: var(--black);
    font-size: 30px;
}
.lesson_header a svg:hover{

    animation-name: slide_arrow_left;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.lesson_content ol,ul {
    margin: 5px 0px;
    padding-left: 20px;
}
.lesson_content h1 {
    margin-bottom: 20px;
}
.lesson_content blockquote {
    padding-left: 20px;
    font-style: italic;
    border-left: 4px solid rgb(160, 160, 160);
    margin: 5px 0;
}
.ql-syntax{
    background-color: rgba(0, 0, 0, 0.834);
    color: #ffffff;
    padding: 10px;
    line-height: 20px;
    border-radius: 3px;
}
@keyframes slide_arrow_left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);

    }
}

.lesson_next{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson_next button {
    border: none;
    outline: none;
    background: none;

    background-color: var(--orange);
    border: 1px solid var(--orange);

    border-radius: 2px;
    font-size: 16px;
    color: var(--white);
    margin-top: 0px;
    padding: 6px 15px;
    border-radius: 10px;
    transition:  .156s linear;
}
.content p > img {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

.lesson_next button:hover{
    background: none;
    color: var(--orange);
}

.lesson_next button:active{
    background-color: var(--white);
    color: #ffffff;
}
