
.profile_header{
    position: relative;
    width: 100%;
    padding: 0px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profile_header_bg{
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 300px;
    left: 0;
    top: -1px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.profile_header_avatar{
    z-index: 1;
    background-color: grey;
    box-shadow: 0 0 220px rgb(0, 0, 0);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;

}

.profile_header h2{
    z-index: 1;

    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    letter-spacing: 1px;
}
.name_edit_icon {
    font-size: 20px;
    color: black;
}
.profile_header p{
    z-index: 1;

    font-size: 12px;
    color: rgb(255, 255, 255);

}

.profile_body{
    z-index: 1;

    /* border: 1px solid black; */
    width: 80%;
    flex: 1;
    margin-bottom: 60px;
    position: relative;
}
.profile_stats{
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    border-radius: 10px;
    padding: 5px 10px;
    

}
.profile_stats div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 2px 10px;
}
.profile_stats p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;

}
.level_range p {
    z-index: 2;
    margin-top: 10px;
}
.level_range{
    display: flex;
    background-color:rgb(216, 255, 216);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 15px;
    position: relative;
}
.level_range_item{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(107, 253, 107);
    height: 15px;
    border-radius: 15px;
    transition: .2s linear;
}

@media (max-width: 550px) {

.profile_header{
    position: relative;
    width: 100%;
    padding: 0px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_header_bg{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    top: -1px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    
}
.profile_header_avatar{
    background-color: grey;
    box-shadow: 0 0 220px rgb(0, 0, 0);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    
}
.profile_header_avatar img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}


.profile_header h2{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    letter-spacing: 1px;
}
.profile_header p{
    font-size: 12px;
    color: rgb(255, 255, 255);

}

.profile_body{
    /* border: 1px solid black; */
    width: 80%;
    flex: 1;
    margin-bottom: 60px;
    position: relative;
}
.profile_stats{
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    border-radius: 10px;
    padding: 5px 10px;
    

}
.profile_stats div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 2px 10px;
}
.profile_stats p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;

}
.level_range p {
    z-index: 2;
    margin-top: 10px;
}
.level_range{
    display: flex;
    background-color:rgb(216, 255, 216);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 10px;
    position: relative;
}
.level_range_item{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(107, 253, 107);
    height: 10px;
    border-radius: 10px;
    transition: .2s linear;
}
}

