.loading svg{
   animation-name: name;
   animation-duration: 1s; 
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes name {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}