.test_questions {
  box-sizing: border-box;
  padding-bottom: 36px;
  max-width: 720px;
  min-width: 720px;
  margin: 0 auto;

  .test_button {
    border: none;
    outline: none;
    background: none;
    display: block;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 2px;
    font-size: 16px;
    color: var(--white);
    margin: 16px auto;
    padding: 6px 15px;
    border-radius: 10px;
    transition: 0.156s linear;
    cursor: pointer;

    &:hover {
      background: none;
      color: var(--orange);
    }

    &:active {
      background-color: var(--white);
      color: #ffffff;
    }
  }
}
