.course_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 350px;
    height: 250px;
    display: flex;
    background-color: #FF7452;
    --web-kit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: none;
    margin: 10px;
    transform: translateY(10px);
    animation-name: slow_up;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.408);
    &>div {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: inherit;
        &>.course_title{
            padding-top: 10px;
        }
        &>.course_subtitle {
            width: 200px;
            padding-top: 10px;
            padding-left: 10px;
            color: white;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }
}

.course_block:hover {
    scale: .97;

}

.course_image {
    font-size: 60px;
}

@keyframes slow_up {
    0% {
        opacity: 0;
        transform: translateY(10px);

    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.course_image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    background-color: rgb(110, 110, 110);
    width: 150px;
    margin: 0 auto;
    right: 10px;
    top: 30px;
    border-radius: 30px;
    height: 150px;
}

.course_title {
    padding-left: 7px;
    padding-top: 4px;
    color: var(--black);
    font-size: 25px;
    text-transform: capitalize;

}

.course_themes_lenght {
    color: var(--white);
}

.course_themes_lenght {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 8px;
    display: flex;
    align-items: center;

    &>svg {
        color: var(--red);
    }
}

.course_themes_complete {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: var(--white);
}

.course_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 10px;
    font-size: 22px;
    
    border: none;
    outline: none;
    background: none;

    border-radius: 10px;
    color: var(-black);
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 5px 20px;
    transition: .156s linear;
}

.course_button>p {
    font-size: 18px;
}

.course_block>p:hover {
    scale: .8;
    transition: .3s linear;
}


.course_button>svg {
    position: relative;
    font-size: 30px;
    margin-left: 5px;
}


.course_button>svg:hover {
    scale: .95;
    transition: .3s linear;
    background: none;
    color: var(--orange);
}

.course_button:active {
    color: var(--orange);
}

.course_footer {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 550px) {
    .course_block {
        margin: 10px 0;
        padding: 0px 0 0 0;
    }

    .course_title {
        color: var(--black);
        text-transform: capitalize;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .course_image {
        object-fit: cover;
    }

    .course_button>svg {
        position: relative;
        font-size: 20px;
        margin-left: 5px;
    }
    .course_subtitle {
        padding-top: 10px;
        padding-left: 10px;
        width: 200px;
        color: white;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

}