.course_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 350px;
    height: 250px;
    display: flex;
    background-color: var(--red);
    --web-kit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: none;
    margin: 10px;
    transform: translateY(10px);
    animation-name: slow_up;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;

    & > div {
        padding: 0 5px 15px 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        height: inherit;
        background: linear-gradient(rgba(0, 0, 0, 0) ,rgba(0, 0, 0, 0.842) 90%);
        
    }
}
.course_block:hover{
    scale: .97;

}

.course_image  {
    font-size: 60px;
}
@keyframes slow_up {
    0%{
        opacity: 0;
        transform: translateY(10px);

    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} 
.course_image{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    background-color: rgb(110, 110, 110);
    width:100%;
    margin: 0 auto;
    border-radius: 10px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.course_title{
    padding-left: 7px;
    padding-top: 4px;
    color: var(--white);
    font-size: 25px;
    text-transform: capitalize;

}
.course_themes_lenght {
    color: var(--white);
}
.course_themes_lenght{
    
    margin-left: 8px;
    display: flex;
    align-items: center;
    &  > svg {
        color: var(--red);
    }
}
.course_themes_complete {
    display: flex;
    align-items: center;
    margin-left: 10px;
    & > svg {
    color: var(--green);

    }
}
.course_themes_complete > svg {
    padding-right: 5px;
}
.course_themes_lenght > svg{
    padding-right: 10px;
}
.course_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 8px;
    border: none;
    outline: none;
    background: none;

    border-radius:5px;
    color: var(--orange);
    margin-top: 5px;

    transition:  .156s linear;
}
.course_button > p {
    font-size: 18px;
}
.course_block > p:hover{
    scale: .8;
    transition: .3s linear;
}


.course_button > svg {
    position: relative;
    font-size: 30px;
    margin-left: 5px;
}


.course_button > svg:hover{
    scale: .95;
    transition: .3s linear;
    background: none;
    color: var(--orange);
}

.course_button:active{
    color: var(--orange);
}
.course_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 550px){
    .course_block{
        margin: 10px 0;
        padding: 0px 0 0 0 ;
    }
    .course_title{
        color: var(--white);
        text-transform:capitalize;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .course_image{
        object-fit: cover;
    }

    .course_button > svg {
        position: relative;
        font-size: 20px;
        margin-left: 5px;
    }

}