.course_block{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 330px;
    height: 240px;
    display: flex;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 10px #bdbdbd;
    border-radius: 10px;
    padding: 8px 2px 8px 2px;
    margin: 10px;
    transform: translateY(60px);
    animation-name: slow_up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes slow_up {
    0%{
        opacity: 0;
        transform: translateY(30px);

    }
    70%{
        opacity: 0.7;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.course_image{
    object-fit: cover;
    background-color: rgb(170, 241, 255);
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.course_title{
    padding-left: 7px;
    padding-top: 4px;
    color: var(--black);
    font-size: 25px;
    text-transform: capitalize;

}
.course_themes_lenght{
    color: var(--orange);
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.course_themes_complete {
    color: var(--green);
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.course_themes_complete > svg {
    padding-right: 5px;
}
.course_themes_lenght > svg{
    padding-right: 10px;
}
.course_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 8px;
    border: none;
    outline: none;
    background: none;

    border-radius:5px;
    color: var(--orange);
    margin-top: 5px;

    transition:  .156s linear;
}
.course_button > p {
    font-size: 18px;
}
.course_block > p:hover{
    scale: .8;
    transition: .3s linear;
}


.course_button > svg {
    position: relative;
    font-size: 30px;
    margin-left: 5px;
}


.course_button > svg:hover{
    scale: .95;
    transition: .3s linear;
    background: none;
    color: var(--orange);
}

.course_button:active{
    color: var(--orange);
}
.course_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 550px){
    .course_block{
        margin: 10px 0;
        padding: 8px 0 0 0 ;
    }
    .course_title{
        color: var(--black);
        text-transform:capitalize;
        font-size: 20px;
    }
    .course_image{
        object-fit: cover;
    }

    .course_button > svg {
        position: relative;
        font-size: 20px;
        margin-left: 5px;
    }

}