.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}
.main.admin {
  padding: 20px 350px;

  display: flex;
  flex-direction: column;
}
.main.courses {
  margin: 0 auto;
  padding: 20px 350px;
  position: relative;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  flex-wrap: wrap;
}
.main.opencourse {
  padding: 0 350px;
}
.main.profile {
  padding: 20px 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 350px;
  margin: 0;
}
.main.lesson {
  padding: 20px 350px;
}

.main.profile {
  color: black;
}

main.doc {
  padding: 5px 350px;
}

@media (max-width: 550px) {
  .main {
    user-select: none;

    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px 10px;
  }
  .main.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .main.courses {
    padding: 100px 5px 100px 5px;
    position: relative;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  .main.courses::before {
    content: "Курсы";
    position: absolute;
    left: 20px;
    color: var(--orange);
    font-style: italic;
    top: 60px;
    font-size: 25px;
  }

  .main.opencourse {
    padding: 10px 10px 100px 10px;
  }
  .main.lesson {
    padding: 20px 10px;
  }
}
