.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  background-color: var(--white);
  
}
.main::after{
  position: fixed;
  content:  "";
  width: 100px;
  height: 500px;
  border-radius: 50%;
  left: -150px;
  top: 100px;
  background-color: none;
  z-index: -1;
  box-shadow:  10px 0 100px var(--blue),10px 0 200px var(--green),20px 0 200px var(--blue);



}
.main::before{
  position: fixed;
  content:  "";
  width: 100px;
  height: 500px;
  border-radius: 50%;
  right: -150px;
  top: 100px;
  background-color: none;
  z-index: -1;
  box-shadow:  10px 0 100px var(--red),10px 0 200px var(--orange),20px 0 200px var(--red);
}
.main.rating {

  padding: 70px 5px;

}


.main.admin {
  padding: 20px 350px;

  display: flex;
  flex-direction: column;
}
.main.courses {
  margin: 0 auto;
  padding: 20px 350px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: self-start;
  flex-wrap: wrap;
}
.main.courses .shimmer_block {
  margin-left: 20px;
  margin-bottom: 20px;
}
.main.opencourse {
  padding: 0 350px;
}
.main.profile {
  padding: 20px 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 350px;
  margin: 0;
}
.main.lesson {
  padding: 20px 350px;
}

.main.profile {
  color: black;
}

main.doc {
  padding: 5px 350px;
}

@media (max-width: 550px) {
  .main {
    user-select: none;

    padding: 20px 10px;
  }

  
  .main.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .main.courses {
    padding: 60px 5px 100px 5px;
    position: relative;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  .main.courses .shimmer_block {
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .main.test_questions {
    padding: 80px 10px 100px 10px;

  }
  .main.admin{
    padding: 80px 10px 100px 10px;

  }
  .main.opencourse {
    padding: 80px 10px 100px 10px;
  }
  .main.lesson {
    padding: 80px 10px 100px 10px;
  }

  .main.rating {

    padding: 70px 5px;
  
  }
  
}
