@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  font-family: "Roboto", sans-serif;
  /* --orange: color(srgb 0.9345 0.5079 0.2992); */
  --orange: #ff861c;
  --blue: rgb(255, 255, 255);
  --grey: hsla(0, 0%, 84%, 0.057);
  --ligth-black: hsla(0, 0%, 0%, 0.921);
  --black: #000000;
  --white: #ededed;
  --green: rgba(136, 254, 136, 0.813);
  --blue: #429dff;
  --red: #ff0e13;
}
*{
  padding: 0;
  margin: 0;
}
a, label{
	-webkit-tap-highlight-color: transparent;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 
#root{
  -webkit-text-size-adjust: none;
  overflow-y: auto;
	-webkit-overflow-scrolling:touch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

}
